<?xml version="1.0"?>
<robot name="two_arm_gripper" xmlns:xacro="http://ros.org/wiki/xacro">

    <link name="world"/>

    <link name="base_link"/>

    <link name="link_body_base">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry><box size="0.25 0.25 0.1"/></geometry>
        <material name="Orange"/>
      </visual>
      <collision><geometry><box size="0.25 0.25 0.1"/></geometry></collision>
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="1"/>
        <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
      </inertial>
    </link>

    <link name="link_body_top">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry><box size="0.1 0.2 0.2"/></geometry>
        <material name="Orange"/>
      </visual>
      <collision><geometry><box size="0.1 0.2 0.2"/></geometry></collision>
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="1"/>
        <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
      </inertial>
    </link>

    <link name="link_left_1">
      <visual>
        <origin xyz="0 0 -0.075" rpy="0 0 0"/>
        <geometry><cylinder radius="0.05" length="0.15"/></geometry>
        <material name="Orange"/>
      </visual>
      <collision>
        <origin xyz="0 0 -0.075" rpy="0 0 0"/>
        <geometry><cylinder radius="0.05" length="0.15"/></geometry>
      </collision>
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="1"/>
        <inertia ixx="0.1" ixy="0" ixz="0" iyy="0.1" iyz="0" izz="0.1"/>
      </inertial>
    </link>

    <!--link name="link_left_2">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry><cylinder radius="0.05" length="0.15"/></geometry>
        <material name="Orange"/>
      </visual>
      <collision><geometry><cylinder radius="0.05" length="0.15"/></geometry></collision>
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="1"/>
        <inertia ixx="0.1" ixy="0" ixz="0" iyy="0.1" iyz="0" izz="0.1"/>
      </inertial>
    </link>

    <link name="link_left_3">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry><cylinder radius="0.05" length="0.15"/></geometry>
        <material name="Orange"/>
      </visual>
      <collision><geometry><cylinder radius="0.05" length="0.15"/></geometry></collision>
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="1"/>
        <inertia ixx="0.1" ixy="0" ixz="0" iyy="0.1" iyz="0" izz="0.1"/>
      </inertial>
    </link>

    <link name="link_right_1">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry><cylinder radius="0.05" length="0.15"/></geometry>
        <material name="Orange"/>
      </visual>
      <collision><geometry><cylinder radius="0.05" length="0.15"/></geometry></collision>
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="1"/>
        <inertia ixx="0.1" ixy="0" ixz="0" iyy="0.1" iyz="0" izz="0.1"/>
      </inertial>
    </link>

    <link name="link_right_2">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry><cylinder radius="0.05" length="0.15"/></geometry>
        <material name="Orange"/>
      </visual>
      <collision><geometry><cylinder radius="0.05" length="0.15"/></geometry></collision>
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="1"/>
        <inertia ixx="0.1" ixy="0" ixz="0" iyy="0.1" iyz="0" izz="0.1"/>
      </inertial>
    </link>

    <link name="link_right_3">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry><cylinder radius="0.05" length="0.15"/></geometry>
        <material name="Orange"/>
      </visual>
      <collision><geometry><cylinder radius="0.05" length="0.15"/></geometry></collision>
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="1"/>
        <inertia ixx="0.1" ixy="0" ixz="0" iyy="0.1" iyz="0" izz="0.1"/>
      </inertial>
    </link-->

</robot>