<?xml version="1.0"?>
<launch>

  <arg name="controllers" default="joint_state_controller hiqp_kinematics_controller"/>



  <!-- Load the controllers -->

  <!-- Load the YAML file -->
  <rosparam file="$(find hiqp_controllers)/config/rbt_yumi.yaml" command="load"/>

  <!-- Startup a spawner node that loads the controllers -->
  <node name="controller_spawner" 
        pkg="controller_manager" 
        type="spawner" 
        respawn="false" 
        output="screen"
        ns="/yumi"
        args="$(arg controllers)"/>

  <!-- Spawn the robot_state_publisher -->
  <node name="robot_state_publisher" 
        pkg="robot_state_publisher" 
        type="robot_state_publisher" 
        respawn="false" 
        output="screen">
    <remap from="/joint_states" to="/yumi/joint_states" />
  </node>

</launch>
