<?xml version="1.0"?>
<launch>

<!-- CONVENIENCE LAUNCH FILE TO START THE HIQP CONTROL FRAMEWORK IN GAZEBO WITH YUMI -->

  <!-- Launch Gazebo with the YuMi model and visualize in Rviz -->
  <include file="$(find hiqp_controllers)/launch/yumi_rviz.launch">
  </include>

  <!-- Launch the HIQP framework -->
  <include file="$(find hiqp_controllers)/launch/controller.launch">
  </include>

</launch>
