<?xml version="1.0"?>
<launch>

  <arg name="hardware_interface" default="VelocityJointInterface"/>

  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="false"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  
  <param name="robot_description" 
         command="$(find xacro)/xacro.py 
                  $(find irb4400_description)/urdf/irb4400.urdf.xacro
                  prefix:=$(arg hardware_interface)" />
  
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
  </include>

  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="urdf_spawner" 
        pkg="gazebo_ros" 
        type="spawn_model" 
        args="-urdf -model irb4400 -param robot_description" 
        respawn="false" 
        output="screen" />
 
  <!--node pkg="robot_state_publisher" type="robot_state_publisher"  name="robot_state_publisher"> 
    <param name="publish_frequency" type="double" value="30.0" />
  </node-->

  <!-- Run RViz for visualization instead of the Gazebo GUI -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find irb4400_description)/launch/irb4400.rviz"/>  

</launch>
