<?xml version="1.0"?>
<launch>

  <arg name="hardware_interface" default="VelocityJointInterface"/>
  <arg name="gui" default="true" />
  <arg name="rvizconfig" default="$(find irb4400_description)/launch/irb4400.rviz" />

  <param name="robot_description" 
         command="$(find xacro)/xacro.py 
                  $(find irb4400_description)/urdf/irb4400.urdf.xacro
                  prefix:=$(arg hardware_interface)" />

  <param name="use_gui" value="$(arg gui)"/>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" /> 

</launch>
