<?xml version="1.0"?>

<robot name="irb4400" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <gazebo>

    <plugin name="gazebo_ros_controller" filename="libgazebo_ros_control.so">
      <robotNamespace>/irb4400</robotNamespace>
    </plugin>

    <!--joint name="irb4400_joint_7_4" type="revolute">
      <parent>irb4400_link_7_mountarm_front</parent>
      <child>irb4400_link_4_piston</child>
      <axis>
        <xyz>0 1 0</xyz>
      </axis>
      <pose>0.1217 0.1305 0.0284 0 0 0</pose>
    </joint-->

    <!--joint name="irb4400_joint_8_6aux" type="revolute">
      <parent>irb4400_link_8_armlink1</parent>
      <child>irb4400_link_6_auxiliary</child>
      <axis>
        <xyz>0 1 0</xyz>
      </axis>
      <pose>-0.3 0.074 0.00 0 0 0</pose>
    </joint-->

  </gazebo>


  <gazebo reference="irb4400_link_1_base">
    <material>Gazebo/Orange</material>
  </gazebo>


  <gazebo reference="irb4400_link_2_secondbase">
    <material>Gazebo/Orange</material>
  </gazebo>


  <gazebo reference="irb4400_link_3_cylinder">
    <material>Gazebo/Orange</material>
  </gazebo>


  <gazebo reference="irb4400_link_4_piston">
    <material>Gazebo/Orange</material>
  </gazebo>


  <gazebo reference="irb4400_link_5_counterweight">
    <material>Gazebo/Orange</material>
  </gazebo>


  <gazebo reference="irb4400_link_6_mountarm_back">
    <material>Gazebo/Orange</material>
  </gazebo>


  <gazebo reference="irb4400_link_6_auxiliary">
    <material>Gazebo/Orange</material>
  </gazebo>


  <gazebo reference="irb4400_link_7_mountarm_front">
    <material>Gazebo/Orange</material>
  </gazebo>


  <gazebo reference="irb4400_link_8_armlink1">
    <material>Gazebo/Orange</material>
  </gazebo>


  <gazebo reference="irb4400_link_9_armlink2">
    <material>Gazebo/Orange</material>
  </gazebo>


  <gazebo reference="irb4400_link_10_verticalrotor">
    <material>Gazebo/Orange</material>
  </gazebo>


  <gazebo reference="irb4400_link_11_toolholder">
    <material>Gazebo/Orange</material>
  </gazebo>


  <gazebo reference="irb4400_link_gripping_system">
    <material>Gazebo/Orange</material>
    <sensor name="link_gripping_system_contact_sensor" type="contact">
      <always_on>1</always_on>
      <update_rate>5</update_rate>
      <contact>
        <collision>irb4400_link_11_toolholder_collision_irb4400_link_gripping_system</collision>
        <topic>/irb4400/contact_forces</topic>
      </contact>
      <plugin name="link_gripping_system_bumper" filename="libgazebo_ros_bumper.so">
        <bumperTopicName>/irb4400/contact_forces</bumperTopicName>
        <frameName>irb4400_link_gripping_system</frameName>
      </plugin>
    </sensor>
  </gazebo>


</robot>
