<?xml version="1.0"?>

<robot name="irb4400" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find irb4400_description)/urdf/materials.xacro"/>

  <xacro:include filename="$(find irb4400_description)/urdf/links.xacro"/>

  <xacro:include filename="$(find irb4400_description)/urdf/joints.xacro"/>

  <xacro:include filename="$(find irb4400_description)/urdf/transmissions.xacro"/>

  <xacro:include filename="$(find irb4400_description)/urdf/gazebo.xacro"/>


  <xacro:irb4400_transmissions hardware_interface="$(arg prefix)"/>

</robot>
