<?xml version="1.0"?>

<robot name="irb4400" xmlns:xacro="http://ros.org/wiki/xacro">


  <link name="base_link"/>

  <link name="the_wall">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <box size="0.05 2 3.5"/>
      </geometry>
      <material name="LightGrey">
        <color rgba="0.75 0.75 0.75 1.0" />
      </material>
    </visual>
    <collision>
       <origin xyz="0 0 0" rpy="0 0 0"></origin>
       <geometry>
          <box size="0.05 2 3.5"/>
       </geometry>
    </collision>
  </link>







  <link name="irb4400_link_1_base">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://irb4400_description/meshes/link1.STL"/>
      </geometry>
      <material name="Orange"/>
    </visual>
    <collision>
       <origin xyz="0 0 0" rpy="0 0 0"></origin>
       <geometry>
          <mesh filename="package://irb4400_description/meshes/link1.STL"></mesh>
       </geometry>
    </collision>
    <inertial>
      <origin rpy="0 0 0" xyz="-0.09014 0.00 -0.11602"/>
      <mass value="75.69606"/>
      <inertia ixx="2.02158864748" ixy="-0.00000245857" ixz="0.07215053239" 
                                   iyy="3.96573960599"  iyz="-0.00000018955" 
                                                        izz="5.58000931701"/>
    </inertial>
  </link>


  <link name="irb4400_link_2_secondbase">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://irb4400_description/meshes/link2.STL"/>
      </geometry>
      <material name="Orange"/>
    </visual>
    <collision>
       <origin xyz="0 0 0" rpy="0 0 0"></origin>
       <geometry>
          <mesh filename="package://irb4400_description/meshes/link2.STL"></mesh>
       </geometry>
    </collision>
    <inertial>
      <origin rpy="0 0 0" xyz="0.0231 0.02424 0.28312"/>
      <mass value="106.0064"/>
      <inertia ixx="7.76707391051" ixy="-0.65413192657" ixz="1.80808632391" 
                                   iyy="6.55334982091" iyz="-0.21975875117" 
                                                        izz="8.63984458622"/>
    </inertial>
  </link>


  <link name="irb4400_link_3_cylinder">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://irb4400_description/meshes/link3.STL"/>
      </geometry>
      <material name="Orange"/>
    </visual>
    <collision>
       <origin xyz="0 0 0" rpy="0 0 0"></origin>
       <geometry>
          <mesh filename="package://irb4400_description/meshes/link3.STL"></mesh>
       </geometry>
    </collision>
    <inertial>
      <origin rpy="0 0 0" xyz="0.179 0.00 -0.00002"/>
      <mass value="11.53566"/>
      <inertia ixx="0.04074759034" ixy="0.00000000000" ixz="0.00004858592" 
                                   iyy="0.30850932573" iyz="0.00" 
                                                       izz="0.30903668614"/>
    </inertial>
  </link>


  <link name="irb4400_link_4_piston">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://irb4400_description/meshes/link4.STL"/>
      </geometry>
      <material name="Orange"/>
    </visual>
    <collision>
       <origin xyz="0 0 0" rpy="0 0 0"></origin>
       <geometry>
          <mesh filename="package://irb4400_description/meshes/link4.STL"></mesh>
       </geometry>
    </collision>
    <inertial>
      <origin rpy="0 0 0" xyz="-0.24431 0.00 0.00"/>
      <mass value="0.75584"/>
      <inertia ixx="0.00019733407" ixy="0.00000000000" ixz="0.00" 
                                   iyy="0.03156433794" iyz="0.00" 
                                                       izz="0.03148203319"/>
    </inertial>
  </link>


  <link name="irb4400_link_5_counterweight">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://irb4400_description/meshes/link5.STL"/>
      </geometry>
      <material name="Orange"/>
    </visual>
    <collision>
       <origin xyz="0 0 0" rpy="0 0 0"></origin>
       <geometry>
          <mesh filename="package://irb4400_description/meshes/link5.STL"></mesh>
       </geometry>
    </collision>
    <inertial>
      <origin rpy="0 0 0" xyz="-0.45632 -0.09644 0.03106"/>
      <mass value="19.39243"/>
      <inertia ixx="0.22343149172" ixy="0.11871670137" ixz="-0.00685091375" 
                                   iyy="0.68945149758" iyz="-0.01963332363" 
                                                       izz="0.64664468298"/>
    </inertial>
  </link>

  
  <link name="irb4400_link_6_mountarm_back">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://irb4400_description/meshes/link6.STL"/>
      </geometry>
      <material name="Orange"/>
    </visual>
    <collision>
       <origin xyz="0 0 0" rpy="0 0 0"></origin>
       <geometry>
          <mesh filename="package://irb4400_description/meshes/link6.STL"></mesh>
       </geometry>
    </collision>
    <inertial>
      <origin rpy="0 0 0" xyz="-0.1777 -0.2234 0.46383"/>
      <mass value="3.12307"/>
      <inertia ixx="0.31945679899" ixy="0.00004669001" ixz="0.00538016881" 
                                   iyy="0.32175995655" iyz="-0.00004947451" 
                                                       izz="0.00326582296"/>
    </inertial>
  </link>
  

  <link name="irb4400_link_6_auxiliary">
    <inertial>
      <origin xyz="0 0 0.89" rpy="0 0 0"/>
      <mass value="0.00"/>
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1" />
    </inertial>
  </link>

  
  <link name="irb4400_link_7_mountarm_front">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://irb4400_description/meshes/link7.STL"/>
      </geometry>
      <material name="Orange"/>
    </visual>
    <collision>
       <origin xyz="0 0 0" rpy="0 0 0"></origin>
       <geometry>
          <mesh filename="package://irb4400_description/meshes/link7.STL"></mesh>
       </geometry>
    </collision>
    <inertial>
      <origin rpy="0 0 0" xyz="0.06278 0.08805 0.40197"/>
      <mass value="30.98388"/>
      <inertia ixx="2.37305548407" ixy="-0.00037165355" ixz="-0.07708847390" 
                                   iyy="2.35788846934"  iyz="-0.03346985497" 
                                                        izz="0.29095169577"/>
    </inertial>
  </link>


  <link name="irb4400_link_8_armlink1">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://irb4400_description/meshes/link8.STL"/>
      </geometry>
      <material name="Orange"/>
    </visual>
    <collision>
       <origin xyz="0 0 0" rpy="0 0 0"></origin>
       <geometry>
          <mesh filename="package://irb4400_description/meshes/link8.STL"></mesh>
       </geometry>
    </collision>
    <inertial>
      <origin rpy="0 0 0" xyz="-0.12332 0.13239 0.13886"/>
      <mass value="3.141516"/>
      <inertia ixx="0.36751429290" ixy="0.01671715853" ixz="-0.03383121212" 
                                   iyy="1.28059358192" iyz="0.01886768705" 
                                                       izz="1.30821199705"/>
    </inertial>
  </link>

  
  <link name="irb4400_link_9_armlink2">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://irb4400_description/meshes/link9.STL"/>
      </geometry>
      <material name="Orange"/>
    </visual>
    <collision>
       <origin xyz="0 0 0" rpy="0 0 0"></origin>
       <geometry>
          <mesh filename="package://irb4400_description/meshes/link9.STL"></mesh>
       </geometry>
    </collision>
    <inertial>
      <origin rpy="0 0 0" xyz="-0.41969 0.00412 -0.00114"/>
      <mass value="16.9654"/>
      <inertia ixx="0.09322623509" ixy="0.01368950722" ixz="0.00050654774" 
                                   iyy="0.71290847900" iyz="0.00015788926" 
                                                       izz="0.73453378938"/>
    </inertial>
  </link>

  
  <link name="irb4400_link_10_verticalrotor">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://irb4400_description/meshes/link10.STL"/>
      </geometry>
      <material name="Orange"/>
    </visual>
    <collision>
       <origin xyz="0 0 0" rpy="0 0 0"></origin>
       <geometry>
          <mesh filename="package://irb4400_description/meshes/link10.STL"></mesh>
       </geometry>
    </collision>
    <inertial>
      <origin rpy="0 0 0" xyz="-0.00006 0.03324 0.00"/>
      <mass value="1.22576"/>
      <inertia ixx="0.00246087716" ixy="-0.00000112756" ixz="-0.00000000013" 
                                   iyy="0.00465221441"  iyz="0.00" 
                                                        izz="0.00320698422"/>
    </inertial>
  </link>

  
  <link name="irb4400_link_11_toolholder">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://irb4400_description/meshes/link11.STL"/>
      </geometry>
      <material name="Orange"/>
    </visual>
    <collision>
       <origin xyz="0 0 0" rpy="0 0 0"></origin>
       <geometry>
          <mesh filename="package://irb4400_description/meshes/link11.STL"></mesh>
       </geometry>
    </collision>
    <inertial>
      <origin rpy="0 0 0" xyz="-0.06688 0.00 -0.00006"/>
      <mass value="0.42133"/>
      <inertia ixx="0.00038671431" ixy="0.00000000000" ixz="-0.00000145510" 
                                   iyy="0.00192619966"  iyz="0.00" 
                                                        izz="0.00192737654"/>
    </inertial>
  </link>

  
  <link name="irb4400_link_gripping_system">
    <visual>
      <origin rpy="0 -1.57079632679 0" xyz="0.0604565 0 -0.39595"/>
      <geometry>
        <mesh filename="package://irb4400_description/meshes/gripping_system.STL"/>
      </geometry>
      <material name="DarkGreen">
        <color rgba="0.15 0.35 0.0 1.0"/>
      </material>
    </visual>
    <collision name="irb4400_link_11_toolholder_collision_irb4400_link_gripping_system">
       <origin rpy="0 -1.57079632679 0" xyz="0.0604565 0 -0.39595"></origin>
       <geometry>
          <mesh filename="package://irb4400_description/meshes/gripping_system.STL"></mesh>
       </geometry>
    </collision>
    <inertial>
      <!-- center of mass in STL files frame: (0.394043, 0.000987, -0.035984) -->
      <origin rpy="0 1.57079632679 0" xyz="0.3335865 0.000987 0.359966"/>
      <mass value="15.893435"/>
      <inertia ixx="0.054512" ixy="-0.001047" ixz="-0.000971" 
                              iyy="0.372263"  iyz="0.000978" 
                                              izz="0.343699"/>
    </inertial>
  </link>

  
  <!--link name="irb4400_link_rebar">
    <visual>
      <origin rpy="1.57079632679 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://irb4400_description/meshes/rebar.STL"/>
      </geometry>
      <material name="Grey"/>
    </visual>
    <collision>
       <origin rpy="1.57079632679 0 0" xyz="0 0 0"></origin>
       <geometry>
          <mesh filename="package://irb4400_description/meshes/rebar.STL"></mesh>
       </geometry>
    </collision>
    <inertial>
      <origin rpy="1.57079632679 0 0" xyz="0 0 0"/>
      <mass value="18.8194"/>
      <inertia ixx="0.01411575191543" ixy="0.00"             ixz="0.00" 
                                      iyy="0.00000240888277" iyz="0.00" 
                                                             izz="0.01411575191543"/>
    </inertial>
  </link-->


</robot>
