<?xml version="1.0"?>

<robot name="irb4400" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="irb4400_transmissions" params="hardware_interface">

    <transmission name="irb4400_transmission_1">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="irb4400_joint_1_2">
        <hardwareInterface>${hardware_interface}</hardwareInterface>
      </joint>
      <actuator name="irb4400_motor_1">
        <hardwareInterface>${hardware_interface}</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="irb4400_transmission_2">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="irb4400_joint_2_7">
        <hardwareInterface>${hardware_interface}</hardwareInterface>
      </joint>
      <actuator name="irb4400_motor_2">
        <hardwareInterface>${hardware_interface}</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="irb4400_transmission_3">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="irb4400_joint_7_8">
        <hardwareInterface>${hardware_interface}</hardwareInterface>
      </joint>
      <actuator name="irb4400_motor_3">
        <hardwareInterface>${hardware_interface}</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="irb4400_transmission_4">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="irb4400_joint_8_9">
        <hardwareInterface>${hardware_interface}</hardwareInterface>
      </joint>
      <actuator name="irb4400_motor_4">
        <hardwareInterface>${hardware_interface}</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="irb4400_transmission_5">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="irb4400_joint_9_10">
        <hardwareInterface>${hardware_interface}</hardwareInterface>
      </joint>
      <actuator name="irb4400_motor_5">
        <hardwareInterface>${hardware_interface}</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="irb4400_transmission_6">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="irb4400_joint_10_11">
        <hardwareInterface>${hardware_interface}</hardwareInterface>
      </joint>
      <actuator name="irb4400_motor_6">
        <hardwareInterface>${hardware_interface}</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>





    <!--transmission name="irb4400_transmission_56">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="irb4400_joint_5_6">
        <hardwareInterface>${hardware_interface}</hardwareInterface>
      </joint>
      <actuator name="irb4400_motor_56">
        <hardwareInterface>${hardware_interface}</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission-->

  </xacro:macro>

</robot>