<?xml version="1.0"?>
<launch>

  <!-- LAUNCH PARAMETERS -->
  <!-- these are the arguments you can pass this launch file, for example paused:=true -->

  <arg name="controllers" default="joint_state_controller mycontroller"/>

  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  
  
  
  
  
<!-- LAUNCH IMPLEMENTATION -->


<!--Load the Robot URDF and launch Gazebo-->

  <!-- Load an empty world for Gazebo -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
  </include>

  <!-- Load the URDF into the ROS Parameter Server -->
  <param name="robot_description"
         command="$(find xacro)/xacro.py '$(find myrobot_description)/urdf/myrobot.xacro'" />

  <!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
  <node name="urdf_spawner" 
        pkg="gazebo_ros" 
        type="spawn_model" 
        respawn="false" 
        output="screen"
        args="-urdf -model myrobot -param robot_description"/>




<!-- Load the controllers -->

  <!-- Load the YAML file -->
  <rosparam file="$(find mycontrollers)/config/myrobot.yaml" command="load"/>

  <!-- Startup a spawner node that loads the controllers -->
  <node name="controller_spawner" 
        pkg="controller_manager" 
        type="spawner" 
        respawn="false" 
        output="screen"
        ns="/myrobot"
        args="$(arg controllers)"/>

  <!-- Spawn the robot_state_publisher -->
  <node name="robot_state_publisher" 
        pkg="robot_state_publisher" 
        type="robot_state_publisher" 
        respawn="false" 
        output="screen">
    <remap from="/joint_states" to="/myrobot/joint_states" />
  </node>


<!--
<node name="rviz" pkg="rviz" type="rviz" args="-d $(find myrobot_description)/launch/myrobot.rviz"/>
-->

</launch>
